<a href="https://colab.research.google.com/github/willsacraa/RedesNeurais/blob/main/Classifica%C3%A7%C3%A3o/William_03_Preparando_conjuntos_trein_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color='blue'>Preparação conjunto de treinamento e teste</font>

## Montando DRIVE

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

drive_dados = '/content/drive/MyDrive/RedesNeurais/Classificacao/'

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

drive_dados = '/content/drive/MyDrive/UFSB/Componentes_curriculares/RNA/_01_Classificacao/' # Colocar uma barra no final do endereço

Mounted at /content/drive

## 1) Importando bibliotecas

Importar as bibliotecas e o arquivo que serão utilizadas durante as análises.

In [ ]:
# Imports bilbliotecas básica
# ===========================
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', None)
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

# Imports bilbliotecas com funções importantes
# ============================================
from sklearn.preprocessing import MinMaxScaler # Normalização [0, 1]
from sklearn.preprocessing import StandardScaler # Normalização
!pip install pyclustertend
from pyclustertend import hopkins # pyclustertend is a python package to do cluster tendency. Cluster tendency consist to assess if clustering algorithms are relevant for a dataset.

Collecting pyclustertend
  Downloading pyclustertend-1.4.9-py3-none-any.whl (9.8 kB)
Installing collected packages: pyclustertend
Successfully installed pyclustertend-1.4.9

## 2) Extrai os dados do csv ou txt

Um dos grandes problemas que encontramos é mal uso de separador e de encoding, então é importante se atentar a esses argumentos.

É muito importante ressaltar que colocar os argumentos de separador e de encoding quando está lendo um arquivo evita problemas como os dados que não tenham sido separados corretamente.

Fonte dos dados: Dados pre-processados.

In [ ]:
# Carregando o dataset
dataset = pd.read_csv(drive_dados + "Dados_analise_exploratoria.csv", encoding = 'latin-1', sep = ',')
dataset.drop(columns = ["Unnamed: 0"], inplace=True)
print(dataset.shape)
# Verificando as primeiras linhas do dataset
dataset

(81, 8)

    sex  age  Number_of_Warts  Type  Area  induration_diameter  Result_of_Treatment  label
0     1   23                6     0    19                    2                    1      1
1     1   48                7     0    50                   25                    1      1
2     1   17               12     2    25                    7                    1      1
3     0   54               13     2    43                    5                    1      1
4     1   22                5     0    99                    8                    1      1
..  ...  ...              ...   ...   ...                  ...                  ...    ...
76    1   51                1     0    65                    7                    1      1
77    0   40                8     2    69                    5                    1      1
78    1   16               11     0    47                    7                    1      1
79    0   20                6     0    45                    8                    1      1
80    0   17                2     0    44                    8                    1      1

[81 rows x 8 columns]

Note que não utilizamos o encoding utf-8, pois com o seu uso podemos ter apenas de 0-127 valores, portanto utilzamos o latin-1, que também é conhecido como ISO-8859–1, e que cobre de 0–255 valores.

## 3) Definindo atributos (variáveis de entrada) e targets (variável de saida)

In [ ]:
# Gerando número de observações e variáveis
observations = len(dataset)
variables = dataset.columns
total_variaveis = len(variables)
var_output = 2 # COLOCAR AQUI O NUMERO DE VARIÁVEIS DE SAÍDA (Últimas colunas)
variables_out = dataset.columns[:-var_output]
print('O banco de dados contem %d variáveis.' % total_variaveis)
print(f'Estão registradas {observations} observações.\n')
print(f'Identificadas {total_variaveis-var_output} variáveis preditoras que são:\n{variables[0:total_variaveis-var_output]}\n')
print(f'Identificada(s) {var_output} variáve(l/is) explanatória(s) que é(são):\n{variables[total_variaveis-var_output:]}')

O banco de dados contem 8 variáveis.
Estão registradas 81 observações.

Identificadas 6 variáveis preditoras que são:
Index(['sex', 'age', 'Number_of_Warts', 'Type', 'Area', 'induration_diameter'], dtype='object')

Identificada(s) 2 variáve(l/is) explanatória(s) que é(são):
Index(['Result_of_Treatment', 'label'], dtype='object')

In [ ]:
# Coletando entradas e saídas
var_entrada=['sex', 'age', 'Number_of_Warts', 'Type', 'Area', 'induration_diameter'] # Variáveis consideradas na entrada
var_saida=['label'] # Variáveis consideradas na saida 
dataset = dataset[var_entrada + var_saida]
dataset

    sex  age  Number_of_Warts  Type  Area  induration_diameter  label
0     1   23                6     0    19                    2      1
1     1   48                7     0    50                   25      1
2     1   17               12     2    25                    7      1
3     0   54               13     2    43                    5      1
4     1   22                5     0    99                    8      1
..  ...  ...              ...   ...   ...                  ...    ...
76    1   51                1     0    65                    7      1
77    0   40                8     2    69                    5      1
78    1   16               11     0    47                    7      1
79    0   20                6     0    45                    8      1
80    0   17                2     0    44                    8      1

[81 rows x 7 columns]

## 4) Aplicando Normalização da entrada

### <font color='blue'> Entrada <font color='black'>(Escolha uma das opções)

In [ ]:
# Normalizando pela media [-1 a 1]
dataset[var_entrada] = (dataset[var_entrada] - dataset[var_entrada].mean()) / (dataset[var_entrada].max() - dataset[var_entrada].min())

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

## 5) Aleatorização do conjunto de dados

In [ ]:
ordem = dataset.sample(dataset.shape[0]).index
dataset = dataset.iloc[ordem]
print(dataset.shape)
dataset

(81, 7)

         sex       age  Number_of_Warts      Type      Area  induration_diameter  label
28 -0.555556 -0.053297         0.312071  0.635802  0.009870            -0.110748      1
15  0.444444  0.263776         0.089849  0.135802  0.004220            -0.081336      0
64 -0.555556 -0.224029        -0.187929  0.635802 -0.069226            -0.169572      1
33  0.444444 -0.394761        -0.299040 -0.364198 -0.046628            -0.110748      1
44 -0.555556  0.166215         0.423182 -0.364198  0.043768            -0.125454      0
..       ...       ...              ...       ...       ...                  ...    ...
43  0.444444  0.532069        -0.299040  0.135802 -0.117249             0.153958      1
14  0.444444  0.483288        -0.021262 -0.364198  0.023994            -0.184277      1
31 -0.555556  0.019874         0.145405 -0.364198 -0.080526             0.521605      0
1   0.444444  0.410117         0.034294 -0.364198 -0.060752             0.153958      1
23  0.444444  0.239386         0.256516  0.135802 -0.142673            -0.125454      0

[81 rows x 7 columns]

## 6) Divisão do conjunto de dados em treinamento e teste

Extrai subconjunto garantindo a presença de todas classes no conjunto de tese

In [ ]:
# Determinação do percentual do conjunto de treinamento
frac = 0.80 # Fração reservada para a extração do conjunto treinamento
index_sample = []
for label_test in np.unique(dataset[var_saida]):
    posicoes = np.where(dataset[var_saida] == label_test)[0]
    contador = 0
    for pos in posicoes:
        contador += 1
        if contador <  np.round(frac * posicoes.size) or contador == 1: # Coloca no mínimo um padrâo no conjunto.
            index_sample.append(dataset[pos:pos+1].index[0])

dataset_treinamento = dataset.iloc[index_sample]
dataset_teste = dataset.drop(dataset_treinamento.index)
dataset = dataset_treinamento
print(f'O conjunto de teste tem {dataset_teste.shape}. \nO conjunto de treinamento tem {dataset_treinamento.shape}')

O conjunto de teste tem (19, 7).
O conjunto de treinamento tem (62, 7)

## 7) Avaliando a Tendência de Cluster

<p>Estatística Hopkins para o conjunto de dados</p>
<p>Valores > .5 significam que o dataset não é "clusterizável"</p>
<p>Valores < .5 significam que o dataset é "clusterizável"</p>
<p>Quanto mais próximo de zero, melhor.</p>

In [ ]:
hopkins(dataset[var_entrada],dataset.shape[0])

0.32366189922326494

## 8) Gravando dados

In [ ]:
train_inputs = dataset[var_entrada]
train_targets = dataset[var_saida]
test_inputs = dataset_teste[var_entrada]
test_targets = dataset_teste[var_saida]

In [ ]:
import pickle
# Gravando os dados para o modelo
pickle.dump((train_inputs, train_targets), open(drive_dados + 'dados_treinamento.sav', 'wb'))
pickle.dump((test_inputs, test_targets), open(drive_dados + 'dados_teste.sav', 'wb'))

In [ ]:
train_inputs

         sex       age  Number_of_Warts      Type      Area  induration_diameter
48 -0.555556  0.483288        -0.243484  0.135802 -0.040978            -0.169572
19  0.444444  0.434508        -0.132373  0.135802 -0.162447            -0.081336
70  0.444444 -0.394761         0.312071 -0.364198 -0.066402            -0.110748
42 -0.555556 -0.199639        -0.243484 -0.364198 -0.080526            -0.110748
54  0.444444 -0.297200        -0.076818  0.135802 -0.057927            -0.125454
..       ...       ...              ...       ...       ...                  ...
49  0.444444  0.385727         0.423182  0.135802 -0.012729             0.521605
52 -0.555556 -0.297200        -0.021262 -0.364198 -0.111599            -0.110748
62  0.444444  0.044264        -0.076818 -0.364198 -0.024029             0.153958
45  0.444444  0.532069        -0.021262 -0.364198  0.026819            -0.110748
16  0.444444 -0.297200         0.089849  0.135802 -0.083351             0.815723

[62 rows x 6 columns]

In [ ]:
train_targets

    label
48      1
19      1
70      1
42      1
54      1
..    ...
49      1
52      1
62      1
45      1
16      1

[62 rows x 1 columns]